body{
    background: whitesmoke;
   }
   .img1{
       width: 150px;
       height: 150px;
   }
   .img2{
       width: 150px;
       height: 150px;
   }
   .img3{
       width: 150px;
       height: 150px;
   }